front-end/1008-source/module/header/header.jade
.header-container(ng-class="{'show-menu' : openNavigation}")
  a.logo(href="/")
    img(src="./1008/style/image/template/logo.png", alt="")
  nav.fa(
    ng-click="toggleNavigation()",
    ng-class="{'fa-bars' : !openNavigation,'fa-close' : openNavigation}"
  )
.header-navigation(ng-class="{'show' : openNavigation}")
  .nav-container
    a(href="/", ng-click="openNavigation = false")
      i.fa.fa-home
      span
        span Dự án
        span Nhà - Đất
    a(href="/cam-nang-bat-dong-san", ng-click="openNavigation = false")
      i.fa.fa-book
      span
        span Cẩm nang
        span Bất động sản
    a(href="/dich-vu-khach-hang", ng-click="openNavigation = false")
      i.fa.fa-user
      span
        span Dịch vụ
        span Khách hàng
    a(href="/lien-he", ng-click="openNavigation = false")
      i.fa.fa-wpforms
      span
        span Thông tin
        span Liên hệ
.header-offset

front-end/1008/module/header/header.html
<div ng-class="{'show-menu' : openNavigation}" class="header-container"><a href="/" class="logo"><img src="./1008/style/image/template/logo.png" alt=""/></a><nav ng-click="toggleNavigation()" ng-class="{'fa-bars' : !openNavigation,'fa-close' : openNavigation}" class="fa"></nav></div><div ng-class="{'show' : openNavigation}" class="header-navigation"><div class="nav-container"><a href="/" ng-click="openNavigation = false"><i class="fa fa-home"></i><span><span>Dự án</span><span>Nhà - Đất</span></span></a><a href="/cam-nang-bat-dong-san" ng-click="openNavigation = false"><i class="fa fa-book"></i><span><span>Cẩm nang</span><span>Bất động sản</span></span></a><a href="/dich-vu-khach-hang" ng-click="openNavigation = false"><i class="fa fa-user"></i><span><span>Dịch vụ</span><span>Khách hàng</span></span></a><a href="/lien-he" ng-click="openNavigation = false"><i class="fa fa-wpforms"></i><span><span>Thông tin</span><span>Liên hệ</span></span></a></div></div><div class="header-offset"></div>
