front-end/1008/page/home/home.html
<div ng-class="{'show-menu' : showMenu}" class="home-container"><div class="home-map"><div id="map"></div></div><div class="home-product-list"><div class="list-header">Dự án Đang mở bán</div><div class="list-detail"><div ng-repeat="(key, product) in productList track by $index" class="list-item"><div class="info-left"><div style="background-image: url('{{product.baseInfo.thumbnail}}')" class="product-image"><div class="product-id">{{product.id}}</div></div><div class="product-price"><div class="price-value">{{product.baseInfo.price.display}}</div></div></div><div class="info-right"><div class="info-name">{{product.baseInfo.name}}</div><div class="info-filter"><div class="filter-item"><div class="filter-header">Địa chỉ:</div><div class="filter-value">{{product.baseInfo.addressSort}}</div></div><div class="filter-item"><div class="filter-header">Diện tích:</div><div class="filter-value">{{product.area.value}}</div></div><div class="filter-item"><div class="filter-header">Quà tặng:</div><div class="filter-value">{{product.baseInfo.promotion}}</div></div></div></div></div></div></div><div class="home-filter"></div></div>

front-end/1008-source/page/home/home.jade
.home-container(ng-class="{'show-menu' : showMenu}")
  .home-map
    #map
  .home-product-list
    .list-header Dự án Đang mở bán
    .list-detail
      .list-item(ng-repeat="(key, product) in productList track by $index")
        .info-left
          .product-image(style="background-image: url('{{product.baseInfo.thumbnail}}')")
            .product-id {{product.id}}
          .product-price
            .price-value {{product.baseInfo.price.display}}
        .info-right
          .info-name {{product.baseInfo.name}}
          .info-filter
            .filter-item
              .filter-header Địa chỉ:
              .filter-value {{product.baseInfo.addressSort}}
            .filter-item
              .filter-header Diện tích:
              .filter-value {{product.area.value}}
            .filter-item
              .filter-header Quà tặng:
              .filter-value {{product.baseInfo.promotion}}
  .home-filter
