front-end/1006-source/page/home/home.jade
.header-content
  .heading CREATE YOUR OWN TEA ROSE DESIGN
  .logo
.image-rotate-component
  .image-list
    .image-item(
      ng-repeat="product in productList track by $index",
      data-item="{{product.item}}",
      data-id="{{product.id}}",
      ng-click="rotateImage(product)",
      ng-class="{'focus': 1 === product.focus, 'hide': 2 === product.focus}",
      style="background-image: url({{product.thumbnail}})"
    )
      .image-item-opacity(style="background-image: url({{product.thumbnailOpacity}})")
  .image-nav
    .nav-left(ng-click="slideImage('left')")
    .nav-right(ng-click="slideImage('right')")
.footer-content
  .description CHOOSE YOUR BAG SILHOUETTE
  .button(ng-click="naviagteManage()", ng-class="{'disabled': disabledProduct()}") SELECT THE {{getProductSelected()}}

front-end/1006/page/home/home.html
<div class="header-content"><div class="heading">CREATE YOUR OWN TEA ROSE DESIGN</div><div class="logo"></div></div><div class="image-rotate-component"><div class="image-list"><div ng-repeat="product in productList track by $index" data-item="{{product.item}}" data-id="{{product.id}}" ng-click="rotateImage(product)" ng-class="{'focus': 1 === product.focus, 'hide': 2 === product.focus}" style="background-image: url({{product.thumbnail}})" class="image-item"><div style="background-image: url({{product.thumbnailOpacity}})" class="image-item-opacity"></div></div></div><div class="image-nav"><div ng-click="slideImage('left')" class="nav-left"></div><div ng-click="slideImage('right')" class="nav-right"></div></div></div><div class="footer-content"><div class="description">CHOOSE YOUR BAG SILHOUETTE</div><div ng-click="naviagteManage()" ng-class="{'disabled': disabledProduct()}" class="button">SELECT THE {{getProductSelected()}}</div></div>
